name: CI

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate github token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - name: Setup ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '3.0.3'
          architecture: 'x64'
      - name: install danger
        run: |
          gem install bundler
          bundle install
      - name: run ktlintCheck
        run:
          chmod +x ./gradlew
          ./gradlew ktlintCheck
      - name: run danger
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: danger